.card {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-style: monospace;
  padding: 1.5rem;

  background-color: rgb(246, 246, 246);

  width: 320px;
  height: 100vh;
  overflow: auto;
}

.close {
  font-size: 1rem;
  padding-left: 15rem;
  color: rgb(50, 135, 225);
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
